.container{
    position: relative;
    top: 230px;
    left: 165px;
    width: 331px;
    height: 466px;
    text-align: center;
}

.title_container{
    position: absolute;
    top: 28px;
    left: 16px;
    text-align: center;

}