#root {
    max-width: 1280px;
    padding: 0;
    text-align: center;
  }

.animated_gradient {
    padding: 0%;
    background: linear-gradient(90deg, #72EC55, #239D54);
    background-size: 400% 400%;
    animation: gradient_anim 15s ease infinite;
    height: 100vh;
    width: 100vw;
}

@keyframes gradient_anim {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.box {
    position: relative;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 20px;
    width: 600px;
    height: 400px;
    box-shadow: 0px 6px 6px 6px rgba(76, 74, 74, 0.25);
    left: 30%;
    top: 20%;
}

.login_container {
    position: absolute;
    border-left: 6px sol#239D54;   
    width: 400px;
    height: 300px;
    left: 30%;
    top: 20%;
}
